python/abess.egg-info/*
python/src/*
!python/src/List.cpp
!python/src/List.h
!python/src/numpy.i
!python/src/pywrap.cpp
!python/src/pywrap.h
!python/src/pywrap.i
R-package/.Rproj.user/
*.o
*.exe
.Rhistory
.Rproj.user
abess.Rcheck/*
*.tar.gz
R-package.pdf
abess_0.1.0.zip
R-package/X.txt
reference
R-package/vignettes/abess-guide.pdf
python/.coverage
python/abess/__pycache__/*
python/pytest/__pycache__/test_all.cpython-37-pytest-6.2.2.pyc
python/.gitignore
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
python2/*
python/src/tmp/coxph.cpp
python/src/tmp/coxph.h
python/src/tmp/logistic.cpp
python/src/tmp/logistic.h
python/src/tmp/poisson.cpp
python/src/tmp/poisson.h
docs/_build/*
docs2/_build/*

docs/abess.egg-info/*
python/src/_cabess.cp37-win_amd64.def
docs/build/*
docs/dist/abess-0.0.1-py3.7-win-amd64.egg
coverage.xml
.coverage
__pycache__/conftest.cpython-37-pytest-6.2.2.pyc
build/lib.win-amd64-3.7/abess/__init__.py
build/lib.win-amd64-3.7/abess/_cabess.cp37-win_amd64.pyd
build/lib.win-amd64-3.7/abess/cabess.py
build/lib.win-amd64-3.7/abess/gen_data.py
build/lib.win-amd64-3.7/abess/linear.py
dist/abess-0.0.1-py3.7-win-amd64.egg
docs/__pycache__/conf.cpython-37-pytest-6.2.2.pyc
python/docs/source/__pycache__/conf.cpython-37-pytest-6.2.2.pyc
python/pytest/__pycache__/*
python/src/__pycache__/*
python/src/*.def

python/build_whl.sh
python/python_all_test.sh
docs/R-package/docs/*

python/download_package.py
python/abess/__pycache__/__init__.cpython-37.pyc
python/abess/__pycache__/linear.cpython-37.pyc
R-package/Rplot.jpeg
R-package/Rplot01.jpeg
.DS_Store
python/include_new/*
*.gcda
*.gcno
R-package/R/loadings.abesspca.R
R-package/vignettes/omit/v02-linearreg.Rmd
R-package/tests/testthat/Rplots.pdf
*.pdf
*.pdf
python/pytest/test_all.py
python/pytest/3.0
python/src/abess_wrap.cpp
python/src/cabess.py
python.rar

R-package/src/tmp2
codecov
rpackage.xml
R-package/.RData
R-package/R/tmp/abess.R
python/pytest/1.py

python/src/html/*
python/src/latex/*
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
R-package/example/cox_source.R
R-package/example/logistic_source.R
R-package/example/timing.R
.vscode/settings.json
docs/image/team-logo.png
*.pyc
docs/code/example/logistic_n_500_p_1000_rho_0.1_cortype_2_M_100.rda
docs/code/example/logistic_n_500_p_1000_rho_0.7_cortype_3_M_100.rda
docs/code/example/linear_n_500_p_1000_rho_0.1_cortype_2_M_100.rda
docs/code/example/linear_n_500_p_1000_rho_0.7_cortype_3_M_100.rda
docs/code/example/logistic_n_1000_p_1000_rho_0.1_cortype_2_M_100.rda
docs/code/example/logistic_n_1000_p_1000_rho_0.7_cortype_3_M_100.rda
docs/code/example/cox_source.R
docs/code/example/cox_source.R
docs/example/R/cox_source.R
docs/example/R/poisson_source.R
docs/simulation/R/cox_source.R
docs/simulation/R/poisson_source.R
R-package/linear_n_500_p_1000_rho_0.7_cortype_3_M_100.zip
docs/simulation/R/linear_n_500_p_1000_rho_0.1_cortype_2_M_100.rda
docs/simulation/R/linear_n_500_p_1000_rho_0.7_cortype_3_M_100.rda
docs/simulation/R/*.png
docs/simulation/Python/*.png
docs/simulation/R/*.rda
docs/simulation/Python/*.npy
.vscode/*
.vs/*
TODO.md

R-package/R/omit
R-package/pca_x.csv
python/src/pywrap_wrap.cpp

src/pywrap_wrap.cpp
src/cabess.py
R-package/src/Makevars
R-package/configure~
R-package/inst/.vscode/settings.json
R-package/src/.vscode/settings.json
